<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Cart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#">Order Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home" >Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#" onclick="checkAccess(event)">Product</a></li>
      </ul>

    </div>
    <div style="margin-left: 10px">
                        <span th:text="'Hello '"
                              th:style="'font-weight: bold'" ></span>
      <span th:text="${username}"
            th:style="'color: ' + (${role == 'ROLE_USER' ? 'blue' : (role == 'ROLE_ADMIN' ? 'red' : 'black')}) + '; font-weight: bold;'"></span>
    </div>
  </div>
</nav>
<div class="col-md-8 mt-4 container" style="padding-top: 80px">
  <div class="d-flex justify-content-center align-items-center p-3" >
    <h4 class="text-success">Quản Lí Đơn Hàng</h4>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>STT</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
      <th>Thao Tác</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="myOrder, stat : ${orders.content}">
      <td th:text="${stat.index + 1 + currentPage * 20}">1</td> <!-- Số thứ tự -->
      <td th:text="${myOrder.name}">Tên sản phẩm</td>
      <td th:text="${myOrder.price}">Danh mục</td>
      <td th:text="${myOrder.quantity}">Giá</td>
      <td th:text="${myOrder.total}">$0</td> <!-- Giá -->
      <td th:text="${myOrder.status}" ></td>
        <td>
            <button type="button" class="btn btn-success" th:data-status="${myOrder.status}" th:data-id="${myOrder.id}" th:onclick="|confirmOrder(Button)|">Xác Nhận</button>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(orders.content)}">
      <td colspan="7" class="text-center">Không Có Đơn Hàng Nào</td>
    </tr>
    </tbody>
  </table>
  <nav th:if="${!#lists.isEmpty(orders.content)}" aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{'/product?page=' + (${currentPage} - 1)}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${pageNum == currentPage} ? 'active'">
        <a class="page-link" th:href="@{'/product?page=' + ${pageNum}}" th:text="${pageNum + 1}">1</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{'/product?page=' + (${currentPage} + 1)}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</body>
<script src="/OrderManagement/js/scripts.js"></script>
</html>